### Emacs ###
/eln-cache/
/straight/
/.cache/
/tree-sitter/

/custom.el

### Gemini ###
/.gemini/

### Claude code ###
/CLAUDE.md
/.claude/

### ai-code-interface ###
/.ai.code.prompt.org

### Opencode ###
/.opencode/
