/elpa/
/url/
/snippets/
/transient/
/eshell/
/persist/
/dicts/
/eaf/
/quelpa/
/request/
/emms/
/eln-cache/
/auto-save-list/
/straight/
/.cache/
/.wl/
/rime/
/pyim/
/dy-modules/
/.extension/
/.log/

/%backup%~
/session.*
/recentf
/projectile-bookmarks.eld
/projectile.cache
/tramp
/custom.el
/org-roam.db
/bookmarks
/.dap-breakpoints
/.last-package-update-day
/.lsp-session-v1
/.org-id-locations
/.mc-lists.el
/projects
/flycheck_init.el
/org-fc-reviews.tsv
/history
